{erl_opts, [debug_info,
    {parse_transform, lager_transform}, {lager_truncation_size, 1024},
    {lager_extra_sinks, [audit]}]}.

{deps, [
    {'cowboy', {git, "https://github.com/extend/cowboy.git", {tag, "2.2.2"}}},
    {'cowlib', {git, "https://github.com/extend/cowlib.git", {tag, "2.2.1"}}},
    {'ranch', {git, "https://github.com/extend/ranch.git", {tag, "1.4.0"}}},
    {'lager', {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.1"}}},
    {'mongodb-erlang', {git, "https://github.com/comtihon/mongodb-erlang.git", {tag, "v3.2.0"}}},
    {'cache', {git, "https://github.com/fogfish/cache.git", {branch, "master"}}},
    {'gpb', {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.1.3"}}},
    {'rebar3_gpb_plugin', {git, "https://github.com/lrascao/rebar3_gpb_plugin.git", {tag, "2.2.4"}}},
    {'erlang-rfc4627', {git, "https://github.com/tonyg/erlang-rfc4627.git", {branch, "master"}}},
    {'gun', {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}
]}.

{relx, [
        {release, { happy, "0.1.0" },
         % 应用依赖和启动顺序
         [sasl, happy],
          % 独立配置,注意配置顺序和格式 各应用的独立配置是一个PropList
          [{sys_config, "config/sys.config"},
           {vm_args, "config/vm.args"}]},

        {release, { gate, "0.1.0" },
         % 应用依赖和启动顺序
         [sasl, gate],
         % 独立配置,注意配置顺序和格式 各应用的独立配置是一个PropList
         [{sys_config, "config/sys.gate.config"},
          {vm_args, "config/vm.gate.args"}]},

        % 公共配置
        %{sys_config, "./config/sys.config"},
        %{vm_args, "./config/vm.args"},

        {dev_mode, true},
        %{system_libs, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
    {system_libs, true},
    {include_src, false},
    {include_erts, false}]}]
            }]
}.

{plugins, [
    {rebar3_gpb_plugin, "2.2.4"} % Good practice to specify which version to use
]}.

%% directory for artifacts produced by rebar3
{base_dir, "_build"}.
%% directory in '<base_dir>/<profile>/' where deps go
{deps_dir, "lib"}.
%% where rebar3 operates from; defaults to the current working directory
{root_dir, "."}.
%% where checkout dependencies are to be located
{checkouts_dir, "_checkouts"}.
%% directory in '<base_dir>/<profile>/' where plugins go
{plugins_dir, "plugins"}.
%% directories where OTP applications for the project can be located
{project_app_dirs, ["apps/*", "lib/*", "."]}.
%% Directories where source files for an OTP application can be found
{src_dirs, ["src"]}.
%% Paths to miscellaneous Erlang files to compile for an app
%% without including them in its modules list
{extra_src_dirs, []}.
%% Paths the compiler outputs when reporting warnings or errors
%% relative (default), build (all paths are in _build, default prior
%% to 3.2.0, and absolute are valid options
{compiler_source_format, relative}.

{dist_node, [
    {setcookie, 'happy_cookie'},
    {name, 'happy1@127.0.0.1'}
]}.

%% {shell, [{apps, [happy, lager]}]}.
